*{
box-sizing:border-box;
font-family:Poppins,Arial;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#141e30,#243b55);
}


.app{
width:420px;
padding:30px;
background:rgba(255,255,255,0.12);
backdrop-filter:blur(15px);
border-radius:25px;
color:white;
}


h1{
text-align:center;
margin:0;
}


.subtitle{
text-align:center;
opacity:.8;
}


.input-area{
display:flex;
gap:10px;
margin:25px 0;
}


input,select{
padding:12px;
border:none;
border-radius:10px;
}


input{
flex:1;
}


button{
border:none;
border-radius:10px;
padding:12px;
cursor:pointer;
background:#00b894;
color:white;
}


.stats{
display:flex;
justify-content:space-between;
margin-bottom:15px;
}


li{
list-style:none;
background:white;
color:black;
padding:15px;
margin:10px 0;
border-radius:15px;
display:flex;
justify-content:space-between;
align-items:center;
}


.completed{
text-decoration:line-through;
opacity:.5;
}


.high{
border-left:8px solid red;
}


.medium{
border-left:8px solid orange;
}


.low{
border-left:8px solid green;
}


.delete{
background:#ff4757;
padding:8px;
}